<h5> Based on imdb.com database </h5>
<p>
	<form action="/film_name" method="POST">
		<input type="text" name="the_film" value="Look for a film!">
		<input name="commit" type="submit" value="Play">
	</form>
</p>
