<!DOCTYPE html>
<html>
	<head>
		<title>M O V I E  Q U I Z !</title>
		<link rel="stylesheet" type="text/css" href="./stylesheet.css" charset="UTF-8">
	</head>
	<body>	
		<h1>MOVIE LOVERS QUIZ¡¡ </h1>
		<%= yield %>
	</body>
</html>